@page
@inject IWebHostEnvironment Env

@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="container mt-5">
    <h2>Login</h2>
    <div class="mt-4">
        <p>Login with Telegram to access the platform:</p>
        @if (Env.IsDevelopment())
        {
            <a asp-page-handler="TestLogin" class="btn btn-warning" style="
            background-color: #54a9eb;
            font-size: 16px;
            line-height: 20px;
            padding: 9px 21px 11px;
            border-radius: 20px;
            color: white;">
                Test Login
            </a>
        }
        else
        {
            <script async src="https://telegram.org/js/telegram-widget.js?22"
                    data-telegram-login="DiscoBayernTestBot"
                    data-size="large"
                    data-auth-url="https://footballteams.ru/Auth/Telegram"
                    data-request-access="write">
            </script>
        }
    </div>
</div>
