@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="container text-center mt-5">
    <h1 class="text-danger">Error</h1>
    
    @if (!string.IsNullOrEmpty(Request.Query["message"]))
    {
        <h2 class="text-warning">@Request.Query["message"]</h2>
    }
    else
    {
        <h2 class="text-danger">An error occurred while processing your request.</h2>
    }
</div>
